.message{
 display: flex;
 align-items: center;
 padding: 20px;
 color: white;
}
.message__info{
  margin-left: 20px;
 

}
.message__info > p{
    margin-top: 5px;
}
.message__info > h4{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.message__timestamp{
    color: gray;
    margin-left: 20px;
    font-size: x-small;
}